# Gradle
.gradle/
build/
app/build/
local.properties

# IDE
.idea/
*.iml
.DS_Store

# Android
*.apk
*.aab
*.keystore
*.jks
keystore.properties
app/keystore/

# Captures / profiling
captures/

# Fastlane
fastlane/report.xml
fastlane/README.md
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.p8
*.p12
*.mobileprovision
service-account*.json
