<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_stonebc-radio._tcp</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.traddiff.StoneBC</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>stonebc</string>
			</array>
		</dict>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Stone Bicycle Coalition uses your cycling workout routes to display GPS maps for past rides.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
</dict>
</plist>
